#nav{
    background-color: whitesmoke;
    width: 100%;
}
.list1{
    margin-top: 2%;
    margin-left: 15%;
    color:black;
    font-weight: bold;
}
.left{
    display: flex !important;
    margin-left: 5%;
}
.right{
    display: flex !important;
    margin-right:15% !important;
    margin-top: -0.5%;
}
#img{
    width: 25px;
    height: 25px;
    margin-bottom: -70%;
}
.list2{
    margin-top: 5%;
    margin-left: 15%;
    color:black
}
.btn{
    border:0px;
    border-radius: 20px;
    background-color: #0067FF;
    width:200%;
    color: white;

}